a,p,table,ta,td,div {  font-size: 9pt}
.text {  line-height: 16pt}
a:link {  color: #666666; text-decoration: none}
a:visited {  color: #666666; text-decoration: none}
a:hover {  color: #009966; text-decoration: underline}
.noi { }.title {  font-family: "ºÚÌå"; font-size: 12pt}
